body {
    font-family: Arial, sans-serif;
    padding: 15px;
}

#map {
    height: 300px;
    margin-top: 15px;
    border: 1px solid #f1b4b4;
}

button {
    margin: 5px;
    padding: 8px 12px;
}

ul {
    margin-top: 15px;
}

li {
    margin-bottom: 5px;
}
